{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="d-flex justify-content-center align-items-center flex-column mt-4">
        <div class="d-flex justify-content-between align-items-center register-container">
            <div class="register-text">
                <h2 class="h2-form-title">Se connecter</h2>
                <p>
                    En vous inscrivant, vous reconnaissez avoir pris connaissance
                    et acceptez nos <a href="">conditions générales d'utilisation</a>.

                </p>
            </div>
            <div class="register-form d-flex flex-column">
                <label class="ms-4" for="inputEmail">Email</label>
                <input class="ms-4" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label class="ms-4" for="inputPassword">Password</label>
                <input class="ms-4" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}
                <p class="ms-4">Se souvenir de moi</p>
                <p class="ms-4">Mot de passe oublié ?</p>
                <button class="btn btn-lg btn-primary" type="submit">
                    Se connecter
                </button>
            </div>
        </div>
    </div>

</form>
{% endblock %}
