{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="inscription d-flex justify-content-center p-3">
        <p class="me-2 mb-0">Vous n'avez pas encore de compte ?</p> <a href="{{ path('app_register') }}">S'inscrire</a>
    </div>
    <div class="register-container">
        <div class="d-flex justify-content-center align-items-center flex-column mt-2">
            <div class="register-form d-flex flex-column">
                <div>
                    <div class="circle"></div>
                    <div class="logo">K</div>
                </div>
                <div class="background-login"></div>
                <label class="ms-4" for="inputEmail">Email</label>
                <input class="ms-4" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label class="ms-4" for="inputPassword">Mot de passe</label>
                <input class="ms-4" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}
                <p class="ms-4">Se souvenir de moi</p>
                <a href="" class="ms-4">Mot de passe oublié ?</a>
                <button class="btn btn-lg btn-primary" type="submit">
                    Se connecter
                </button>
            </div>
        </div>
        <div class="login-informations-block d-flex justify-content-center align-items-center">
            <div class="login-informations d-flex">
                <img src="{{ asset('img/clef-en-main.jpg') }}" alt="">
                <div class="sentences d-flex flex-column justify-content-center mb-5">
                    <p>-> Accédez au dernières annonces en temps réel</p>
                    <p>-> Recevez par e-mail les annonces qui vous intéresse</p>
                    <p>-> Enregitrez vos annonces en favoris</p>
                </div>
            </div>
            <div class="login-informations d-flex">
                <img src="{{ asset('img/carton-emmenagement.jpg') }}" alt="">
                <div class="sentences d-flex flex-column justify-content-center mb-5">
                    <p>-> Contactez les vendeurs à partir des annonces</p>
                    <p>-> Visitez le bien qui vous intéresse</p>
                    <p>-> Envisagez un nouveau départ</p>
                </div>
            </div>
        </div>
    </div>
</form>
    {#
    <style>
        html,body {
            background: rgba(21, 180, 251, 0.03);
        }
    </style>
    #}
{% endblock %}
