{% extends 'base.html.twig' %}

{% block title %}Accueil {{ parent() }}{% endblock %}

{% block body %}

    <div class="header-card">
        <div class="d-flex justify-content-between me-3 ms-3">
            <div>
                <h2 class="h2-title mt-0 p-3">
                    <i class="fas fa-street-view"></i>
                    Achetez, vendez, louez
                    <div>le bien qui vous correspond</div>
                </h2>
            <div>
                <p class="ms-3"><i class="fas fa-building"></i> | Appartements </p>
                <p class="ms-3"><i class="fas fa-home"></i> | Maisons</p>
                <p class="ms-3"><i class="fas fa-mosque"></i> | Villas</p>
            </div>
            </div>
            <div>
                <a class="link me-5" href="#">Vendre son bien</a>
            </div>
        </div>
    </div>
    <div class="ms-3">
        <div class="search-and-sell">
            <input type="text" placeholder="Localisation">
            <input type="text" placeholder="Type de bien">
            <input type="text" placeholder="Prix">
            <button class="">Rechercher</button>
        </div>
    </div>
    <div class="ms-4">
        <div class="villa-group d-flex justify-content-center align-items-center mb-5 flex-wrap">
            <div class="me-4 villa-card">
                <a class="hidden-link" href="#">
                    <p class="d-flex justify-content-start ms-3 mb-2 mt-1 good-type">
                        <span class="ftw-bold text-brown text-good-title me-2">
                                <i class="fas fa-building"></i>
                                Appartement
                        </span>
                    </p>
                    <img class="img-good" src="{{ asset('img/appartement_neuf.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <i class="fas fa-map-marker-alt"></i>
                        Nantes Rond-Point Route De Paris
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2"> 220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-bed"></i> 2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-shower"></i> 1 sdb</span>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="ms-3"> <i class="fas fa-clock"></i> Paru le 22/01/2022</span>
                            <p class="ms-3 text-brown">1 300 200 €</p>
                        </div>
                        <hr>
                        <p class="ms-3 mt-2 good-descritpion">Description : Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez po... </p>
                    </div>
                    <p class="discover-link">Cliquez pour en savoir plus </p>
                </a>
            </div>
            <div class="me-4 villa-card">
                <a class="hidden-link" href="#">
                    <p class="ms-3 mb-2 mt-1 good-type">
                            <span class="ftw-bold text-blue text-good-title me-2">
                                <i class="fas fa-mosque"></i>
                                Villa
                            </span>
                    </p>
                    <img class="img-good" src="{{ asset('img/villa_kristy.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <i class="fas fa-map-marker-alt"></i>
                             Rennes Lorient Saint Brieuc
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2"> 220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-bed"></i> 2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-shower"></i> 1 sdb</span>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="ms-3"> <i class="fas fa-clock"></i> Paru le 22/01/2022</span>
                            <p class="ms-3 text-blue">1 300 200 €</p>
                        </div>
                        <hr>
                        <p class="ms-3 mt-2 good-descritpion">Description : Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez po... </p>
                    </div>
                    <p class="discover-link">Cliquez pour en savoir plus</p>
                </a>
            </div>
            <div class="me-4 villa-card">
                <a class="hidden-link" href="#">
                    <p class="d-flex justify-content-start ms-3 mb-2 mt-1 good-type">
                        <span class="ftw-bold text-blue text-good-title me-2">
                                <i class="fas fa-mosque"></i>
                                Villa
                        </span>
                    </p>
                    <img class="img-good" src="{{ asset('img/villa_loret_del_mar.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <i class="fas fa-map-marker-alt"></i>
                            Côte d'azure
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2">220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-bed"></i> 2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-shower"></i> 1 sdb</span>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="ms-3"> <i class="fas fa-clock"></i> Paru le 22/01/2022</span>
                            <p class="ms-3 text-blue">1 300 200 €</p>
                        </div>
                        <hr>
                        <p class="ms-3 mt-2 good-descritpion">Description : Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez po... </p>
                    </div>
                    <p class="discover-link">Cliquez pour en savoir plus</p>
                </a>
            </div>
            <div class="me-4 villa-card">
                <a class="hidden-link" href="#">
                    <p class="ms-3 mb-2 mt-1 good-type">
                            <span class="ftw-bold text-blue text-good-title me-2">
                                <i class="fas fa-mosque"></i>
                                Villa
                            </span>
                    </p>
                    <img class="img-good" src="{{ asset('img/villa.jpg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <i class="fas fa-map-marker-alt"></i>
                            Côte d'azure
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2">220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-bed"></i> 2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-shower"></i> 1 sdb</span>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="ms-3"> <i class="fas fa-clock"></i> Paru le 22/01/2022</span>
                            <p class="ms-3 text-blue">1 300 200 €</p>
                        </div>
                        <hr>
                        <p class="ms-3 mt-2 good-descritpion">Description : Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez po... </p>
                    </div>
                    <p class="discover-link">Cliquez pour en savoir plus</p>
                </a>
            </div>
            <div class="me-4 villa-card">
                <a class="hidden-link" href="#">
                    <p class="ms-3 mb-2 mt-1 good-type">
                            <span class="ftw-bold text-brown text-good-title me-2">
                                <i class="fas fa-building"></i>
                                Appartement
                            </span>
                    </p>
                    <img class="img-good" src="{{ asset('img/appartement-salon.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <i class="fas fa-map-marker-alt"></i>
                            Marseille
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2">220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-bed"></i> 2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-shower"></i> 1 sdb</span>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="ms-3"> <i class="fas fa-clock"></i> Paru le 22/01/2022</span>
                            <p class="ms-3 text-brown">1 300 200 €</p>
                        </div>
                        <hr>
                        <p class="ms-3 mt-2 good-descritpion">Description : Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez po... </p>
                    </div>
                    <p class="discover-link">Cliquez pour en savoir plus</p>
                </a>
            </div>
            <div class="me-4 villa-card">
                <a class="hidden-link" href="#">
                    <p class="ms-3 mb-2 mt-1 good-type">
                                <span class="ftw-bold text-green text-good-title me-2">
                                <i class="fas fa-home"></i>
                                Maison
                            </span>
                    </p>
                    <img class="img-good" src="{{ asset('img/campagne.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <i class="fas fa-map-marker-alt"></i>
                            Bruz
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2">220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-bed"></i> 2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-shower"></i> 1 sdb</span>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="ms-3"> <i class="fas fa-clock"></i> Paru le 22/01/2022</span>
                            <p class="ms-3 text-green">1 300 200 €</p>
                        </div>
                        <hr>
                        <p class="ms-3 mt-2 good-descritpion">Description : Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez po... </p>
                    </div>
                    <p class="discover-link">Cliquez pour en savoir plus</p>
                </a>
            </div>
            <div class="me-4 villa-card">
                <a class="hidden-link" href="#">
                    <p class="ms-3 mb-2 mt-1 good-type">
                                    <span class="ftw-bold text-green text-good-title me-2">
                                        <i class="fas fa-home"></i>
                                        Maison
                                </span>
                    </p>
                    <img class="img-good" src="{{ asset('img/campagne2.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <i class="fas fa-map-marker-alt"></i>
                            Bruz
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2">220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-bed"></i> 2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-shower"></i> 1 sdb</span>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="ms-3"> <i class="fas fa-clock"></i> Paru le 22/01/2022</span>
                            <p class="ms-3 text-green">1 300 200 €</p>
                        </div>
                        <hr>
                        <p class="ms-3 mt-2 good-descritpion">Description : Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez po... </p>
                    </div>
                    <p class="discover-link">Cliquez pour en savoir plus</p>
                </a>
            </div>
            <div class="me-4 villa-card">
                <a class="hidden-link" href="#">
                    <p class="ms-3 mb-2 mt-1 good-type">
                                    <span class="ftw-bold text-green text-good-title me-2">
                                    <img class="villa-icon mb-1 me-1" src="{{ asset('img/white-villa.png') }}" alt="icon villa">
                                    Publicité
                                </span>
                    </p>
                    <img class="img-good" src="{{ asset('img/publicite.png') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <i class="fas fa-map-marker-alt"></i>
                            Bruz
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2">220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-bed"></i> 2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-shower"></i> 1 sdb</span>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="ms-3"> <i class="fas fa-clock"></i> Paru le 22/01/2022</span>
                            <p class="ms-3 text-green">1 300 200 €</p>
                        </div>
                        <hr>
                        <p class="ms-3 mt-2 good-descritpion">Description : Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez po... </p>
                    </div>
                    <p class="discover-link">Cliquez pour en savoir plus</p>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
