{% extends 'base.html.twig' %}

{% block title %}Accueil {{ parent() }}{% endblock %}

{% block body %}

    <div class="m-3 ">
        <h2 class="h2-form-title">Bienvenue chez Kenavo Immo</h2>
        <div class="search-and-sell">
            <input type="text">
            <a class="link" href="#">Vendre son bien</a>
        </div>
    </div>
    <div class="ms-4">
        <div class="villa-group d-flex justify-content-center align-items-center mb-5">
            <div class="me-4 villa-card">
                <a class="hidden-link" href="#">
                    <img class="img-good" src="{{ asset('img/appartement_neuf.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <span class="ftw-bold text-brown text-good-title me-2">
                                <img class="villa-icon mb-1 me-1" src="{{ asset('img/white-villa.png') }}" alt="icon villa">
                                Appartement
                            </span>
                             Rennes centre
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2">220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2">2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2">1 sdb</span>
                        </p>
                        <hr>
                        <p class="ms-3 mt-2">1 300 200 €</p>
                    </div>
                    <p class="discover-link">Cliquez pour en savoir plus</p>
                </a>
            </div>
            <div class="me-4 villa-card">
                <a class="hidden-link" href="#">
                    <img class="img-good" src="{{ asset('img/villa_kristy.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <span class="ftw-bold text-blue text-good-title me-2">
                                <img class="villa-icon mb-1 me-1" src="{{ asset('img/white-villa.png') }}" alt="icon villa">
                                Villa
                            </span>
                             Côte d'azure
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2">220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2">2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2">1 sdb</span>
                        </p>
                        <hr>
                        <p class="ms-3 mt-2">1 300 200 €</p>
                    </div>
                    <p class="discover-link">Cliquez pour en savoir plus</p>
                </a>
            </div>
            <div class="me-4 villa-card">
                <a class="hidden-link" href="#">
                    <img class="img-good" src="{{ asset('img/villa_loret_del_mar.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <span class="ftw-bold text-blue text-good-title me-2">
                                <img class="villa-icon mb-1 me-1" src="{{ asset('img/white-villa.png') }}" alt="icon villa">
                                Villa
                            </span>
                             Côte d'azure
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2">220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2">2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2">1 sdb</span>
                        </p>
                        <hr>
                        <p class="ms-3 mt-2">1 300 200 €</p>
                    </div>
                    <p class="discover-link">Cliquez pour en savoir plus</p>
                </a>
            </div>
        </div>
        <div class="villa-group d-flex justify-content-center align-items-center mb-5">
            <div class="me-4 villa-card">
                <a class="hidden-link" href="#">
                    <img class="img-good" src="{{ asset('img/villa.jpg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <span class="ftw-bold text-blue text-good-title me-2">
                                <img class="villa-icon mb-1 me-1" src="{{ asset('img/white-villa.png') }}" alt="icon villa">
                                Villa
                            </span>
                             Côte d'azure
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2">220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2">2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2">1 sdb</span>
                        </p>
                        <hr>
                        <p class="ms-3 mt-2">1 300 200 €</p>
                    </div>
                    <p class="discover-link">Cliquez pour en savoir plus</p>
                </a>
            </div>
            <div class="me-4 villa-card">
                <a class="hidden-link" href="#">
                    <img class="img-good" src="{{ asset('img/appartement-salon.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <span class="ftw-bold text-brown text-good-title me-2">
                                <img class="villa-icon mb-1 me-1" src="{{ asset('img/white-villa.png') }}" alt="icon villa">
                                Appartement
                            </span>
                             Marseille
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2">220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2">2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2">1 sdb</span>
                        </p>
                        <hr>
                        <p class="ms-3 mt-2">1 300 200 €</p>
                    </div>
                    <p class="discover-link">Cliquez pour en savoir plus</p>
                </a>
            </div>
            <div class="me-4 villa-card">
                <a class="hidden-link" href="#">
                    <img class="img-good" src="{{ asset('img/campagne.jpeg') }}" alt="Photo d'une villa">
                        <div class="informations d-flex justify-content-center align-items-start flex-column">
                            <p class="ms-3 mb-2 mt-1">
                                <span class="ftw-bold text-green text-good-title me-2">
                                <img class="villa-icon mb-1 me-1" src="{{ asset('img/white-villa.png') }}" alt="icon villa">
                                Maison
                            </span>
                                 Bruz
                            </p>
                            <hr>
                            <p class="ms-3 mt-2 ">
                                <span class="me-2">220 m²</span>
                                <span class="me-2">|</span>
                                <span class="me-2">2 ch</span>
                                <span class="me-2">|</span>
                                <span class="me-2">1 sdb</span>
                            </p>
                            <hr>
                            <p class="ms-3 mt-2">1 300 200 €</p>
                        </div>
                    <p class="discover-link">Cliquez pour en savoir plus</p>
                </a>
            </div>
        </div>
        <div class="villa-group d-flex flex-start justify-content-center align-items-center mb-5">
            <div class="me-4 villa-card">
                <a class="hidden-link" href="#">
                    <img class="img-good" src="{{ asset('img/campagne2.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                                    <span class="ftw-bold text-green text-good-title me-2">
                                    <img class="villa-icon mb-1 me-1" src="{{ asset('img/white-villa.png') }}" alt="icon villa">
                                    Maison
                                </span>
                            Bruz
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2">220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2">2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2">1 sdb</span>
                        </p>
                        <hr>
                        <p class="ms-3 mt-2">1 300 200 €</p>
                    </div>
                    <p class="discover-link">Cliquez pour en savoir plus</p>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
