{% extends 'base.html.twig' %}

{% block title %}Accueil {{ parent() }}{% endblock %}

{% block body %}

    <div class="m-3 ">
        <h2 class="h2-form-title">Bienvenue chez Kenavo Immo</h2>
        <div class="marger">
            <input type="text">
            <a class="link" href="#">Vendre son bien</a>
        </div>
    </div>
    <div class="ms-5">
        <div class="villa-group d-flex justify-content-center align-items-center mb-5">
            <div class="me-5 villa-card">
                <a class="hidden-link" href="#">
                    <img src="{{ asset('img/villa.jpg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3">Villa sur la côte d'azure</p>
                        <p class="ms-3">220 m² | 2 ch | 1 sdb</p>
                        <p class="ms-3">1 300 200 €</p>
                    </div>
                    <p class="discover-link">Cliquez pour en savoir plus</p>
                </a>
            </div>
            <div class="me-5 villa-card">
                <a class="hidden-link" href="#">
                    <img src="{{ asset('img/villa_kristy.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3">Villa sur la côte d'azure</p>
                        <p class="ms-3">220 m² | 2 ch | 1 sdb</p>
                        <p class="ms-3">1 300 200 €</p>
                    </div>
                    <p class="discover-link">Cliquez pour en savoir plus</p>
                </a>
            </div>
            <div class="me-5 villa-card">
                <a class="hidden-link" href="#">
                    <img src="{{ asset('img/villa_loret_del_mar.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3">Villa sur la côte d'azure</p>
                        <p class="ms-3">220 m² | 2 ch | 1 sdb</p>
                        <p class="ms-3">1 300 200 €</p>
                    </div>
                    <p class="discover-link">Cliquez pour en savoir plus</p>
                </a>
            </div>
        </div>
        <div class="villa-group d-flex justify-content-center align-items-center">
            <div class="me-5 villa-card">
                <a class="hidden-link" href="#">
                    <img src="{{ asset('img/villa.jpg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3">Villa sur la côte d'azure</p>
                        <p class="ms-3">220 m² | 2 ch | 1 sdb</p>
                        <p class="ms-3">1 300 200 €</p>
                    </div>
                    <p class="discover-link">Cliquez pour en savoir plus</p>
                </a>
            </div>
            <div class="me-5 villa-card">
                <a class="hidden-link" href="#">
                    <img src="{{ asset('img/villa_kristy.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3">Villa sur la côte d'azure</p>
                        <p class="ms-3">220 m² | 2 ch | 1 sdb</p>
                        <p class="ms-3">1 300 200 €</p>
                    </div>
                    <p class="discover-link">Cliquez pour en savoir plus</p>
                </a>
            </div>
            <div class="me-5 villa-card">
                <a class="hidden-link" href="#">
                    <img src="{{ asset('img/villa_loret_del_mar.jpeg') }}" alt="Photo d'une villa">
                        <div class="informations d-flex justify-content-center align-items-start flex-column">
                            <p class="ms-3">Villa sur la côte d'azure</p>
                            <p class="ms-3">220 m² | 2 ch | 1 sdb</p>
                            <p class="ms-3">1 300 200 €</p>
                        </div>
                    <p class="discover-link">Cliquez pour en savoir plus</p>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
