{% extends 'base.html.twig' %}

{% block title %}Accueil {{ parent() }}{% endblock %}

{% block body %}
    <div class="header-card">
        <h2 class="h2-title ps-3 ms-3 me-2 pt-4">
            <i class="fas fa-street-view"></i>
            Achetez, louez, le bien
            qui vous correspond
        </h2>
        <div class="client-header d-flex justify-content-center align-items-center flex-wrap">
            <div>
                <div class="circle"></div>
                <div class="logo">K</div>
            </div>
            <div>
                <p class="flag"></p>
            </div>
        </div>
        <div class="padding-link d-flex justify-content-center pt-4">
            <a class="link" href="#">Vendre son bien</a>
        </div>
    </div>
    <div class="ms-3">
        <div class="search-and-sell d-flex justify-content-center align-items-center flex-wrap ">
            <input type="text" placeholder="Localisation">
            <input type="text" placeholder="Type de bien">
            <input type="text" placeholder="Prix">
            <button>Rechercher</button>
        </div>
    </div>
    <div class="page-container d-block">
        <div class="villa-group">
            <div class="me-4 villa-card">
                <div class="hidden-link">
                    <p class="d-flex justify-content-start ms-3 mb-2 mt-1 good-type">
                        <span class="ftw-bold text-brown text-good-title me-2">
                                <i class="fas fa-building"></i>
                                Appartement
                        </span>
                    </p>
                    <img class="img-good" src="{{ asset('img/appartement_neuf.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <i class="fas fa-map-marker-alt"></i>
                        Nantes Rond-Point Route De Paris
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2"> 220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-bed"></i> 2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-shower"></i> 1 sdb</span>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="ms-3"> <i class="fas fa-clock"></i> Le 22/01/2022</span>
                            <p class="ms-3 text-brown">1 300 200 €</p>
                        </div>
                        <hr>
                        <p class="ms-3 mt-2 good-descritpion">Description : Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez... </p>
                    </div>
                    <a href="#" class="discover-link">Cliquez pour en savoir plus </a>
                </div>
            </div>
            <div class="me-4 villa-card">
                <div class="hidden-link" href="#">
                    <p class="ms-3 mb-2 mt-1 good-type">
                            <span class="ftw-bold text-blue text-good-title me-2">
                                <i class="fas fa-mosque"></i>
                                Villa
                            </span>
                    </p>
                    <img class="img-good" src="{{ asset('img/villa_kristy.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <i class="fas fa-map-marker-alt"></i>
                             Rennes Lorient Saint Brieuc
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2"> 220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-bed"></i> 2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-shower"></i> 1 sdb</span>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="ms-3"> <i class="fas fa-clock"></i> Le 22/01/2022</span>
                            <p class="ms-3 text-blue">1 300 200 €</p>
                        </div>
                        <hr>
                        <p class="ms-3 mt-2 good-descritpion">Description : Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez... </p>
                    </div>
                    <a href="#" class="discover-link">Cliquez ici pour en savoir plus</a>
                </div>
            </div>
            <div class="me-4 villa-card">
                <div class="hidden-link" href="#">
                    <p class="d-flex justify-content-start ms-3 mb-2 mt-1 good-type">
                        <span class="ftw-bold text-blue text-good-title me-2">
                                <i class="fas fa-mosque"></i>
                                Villa
                        </span>
                    </p>
                    <img class="img-good" src="{{ asset('img/villa_loret_del_mar.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <i class="fas fa-map-marker-alt"></i>
                            Côte d'azure
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2">220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-bed"></i> 2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-shower"></i> 1 sdb</span>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="ms-3"> <i class="fas fa-clock"></i> Le 22/01/2022</span>
                            <p class="ms-3 text-blue">1 300 200 €</p>
                        </div>
                        <hr>
                        <p class="ms-3 mt-2 good-descritpion">Description : Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez... </p>
                    </div>
                    <a href="#" class="discover-link">Cliquez ici pour en savoir plus</a>
                </div>
            </div>
            <div class="me-4 villa-card">
                <div class="hidden-link" href="#">
                    <p class="ms-3 mb-2 mt-1 good-type">
                            <span class="ftw-bold text-blue text-good-title me-2">
                                <i class="fas fa-mosque"></i>
                                Villa
                            </span>
                    </p>
                    <img class="img-good" src="{{ asset('img/villa.jpg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <i class="fas fa-map-marker-alt"></i>
                            Côte d'azure
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2">220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-bed"></i> 2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-shower"></i> 1 sdb</span>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="ms-3"> <i class="fas fa-clock"></i> Le 22/01/2022</span>
                            <p class="ms-3 text-blue">1 300 200 €</p>
                        </div>
                        <hr>
                        <p class="ms-3 mt-2 good-descritpion">Description : Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez... </p>
                    </div>
                    <a href="#" class="discover-link">Cliquez ici pour en savoir plus</a>
                </div>
            </div>
            <div class="me-4 villa-card">
                <div class="hidden-link" href="#">
                    <p class="ms-3 mb-2 mt-1 good-type">
                            <span class="ftw-bold text-brown text-good-title me-2">
                                <i class="fas fa-building"></i>
                                Appartement
                            </span>
                    </p>
                    <img class="img-good" src="{{ asset('img/appartement-salon.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <i class="fas fa-map-marker-alt"></i>
                            Marseille
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2">220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-bed"></i> 2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-shower"></i> 1 sdb</span>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="ms-3"> <i class="fas fa-clock"></i> Le 22/01/2022</span>
                            <p class="ms-3 text-brown">1 300 200 €</p>
                        </div>
                        <hr>
                        <p class="ms-3 mt-2 good-descritpion">Description : Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez... </p>
                    </div>
                    <a href="#" class="discover-link">Cliquez ici pour en savoir plus</a>
                </div>
            </div>
            <div class="me-4 villa-card">
                <div class="hidden-link" href="#">
                    <p class="ms-3 mb-2 mt-1 good-type">
                                <span class="ftw-bold text-green text-good-title me-2">
                                <i class="fas fa-home"></i>
                                Maison
                            </span>
                    </p>
                    <img class="img-good" src="{{ asset('img/campagne.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <i class="fas fa-map-marker-alt"></i>
                            Bruz
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2">220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-bed"></i> 2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-shower"></i> 1 sdb</span>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="ms-3"> <i class="fas fa-clock"></i> Le 22/01/2022</span>
                            <p class="ms-3 text-green">1 300 200 €</p>
                        </div>
                        <hr>
                        <p class="ms-3 mt-2 good-descritpion">Description : Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez... </p>
                    </div>
                    <a href="#" class="discover-link">Cliquez ici pour en savoir plus</a>
                </div>
            </div>
            <div class="me-4 villa-card">
                <div class="hidden-link" href="#">
                    <p class="ms-3 mb-2 mt-1 good-type">
                                    <span class="ftw-bold text-green text-good-title me-2">
                                        <i class="fas fa-home"></i>
                                        Maison
                                </span>
                    </p>
                    <img class="img-good" src="{{ asset('img/campagne2.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <i class="fas fa-map-marker-alt"></i>
                            Bruz
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2">220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-bed"></i> 2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-shower"></i> 1 sdb</span>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="ms-3"> <i class="fas fa-clock"></i> Le 22/01/2022</span>
                            <p class="ms-3 text-green">1 300 200 €</p>
                        </div>
                        <hr>
                        <p class="ms-3 mt-2 good-descritpion">Description : Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez... </p>
                    </div>
                    <a href="#" class="discover-link">Cliquez ici pour en savoir plus</a>
                </div>
            </div>
            <div class="me-4 villa-card">
                <div class="hidden-link" href="#">
                    <p class="ms-3 mb-2 mt-1 good-type">
                                    <span class="ftw-bold text-green text-good-title me-2">
                                    <img class="villa-icon mb-1 me-1" src="{{ asset('img/white-villa.png') }}" alt="icon villa">
                                    Publicité
                                </span>
                    </p>
                    <img class="img-good" src="{{ asset('img/pub_immo.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <i class="fas fa-map-marker-alt"></i>
                            Bruz
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2">220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-bed"></i> 2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-shower"></i> 1 sdb</span>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="ms-3"> <i class="fas fa-clock"></i> Le 22/01/2022</span>
                            <p class="ms-3 text-green">1 300 200 €</p>
                        </div>
                        <hr>
                        <p class="ms-3 mt-2 good-descritpion">Description : Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez... </p>
                    </div>
                    <a href="#" class="discover-link">Cliquez ici pour en savoir plus</a>
                </div>
            </div>
            <div class="me-4 villa-card">
                <div class="hidden-link" href="#">
                    <p class="ms-3 mb-2 mt-1 good-type">
                                    <span class="ftw-bold text-green text-good-title me-2">
                                    <img class="villa-icon mb-1 me-1" src="{{ asset('img/white-villa.png') }}" alt="icon villa">
                                    Publicité
                                </span>
                    </p>
                    <img class="img-good" src="{{ asset('img/pub_immo.jpeg') }}" alt="Photo d'une villa">
                    <div class="informations d-flex justify-content-center align-items-start flex-column">
                        <p class="ms-3 mb-2 mt-1">
                            <i class="fas fa-map-marker-alt"></i>
                            Bruz
                        </p>
                        <hr>
                        <p class="ms-3 mt-2 ">
                            <span class="me-2">220 m²</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-bed"></i> 2 ch</span>
                            <span class="me-2">|</span>
                            <span class="me-2"><i class="fas fa-shower"></i> 1 sdb</span>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="ms-3"> <i class="fas fa-clock"></i> Le 22/01/2022</span>
                            <p class="ms-3 text-green">1 300 200 €</p>
                        </div>
                        <hr>
                        <p class="ms-3 mt-2 good-descritpion">Description : Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez pour en savoir plus Cliquez... </p>
                    </div>
                    <a href="#" class="discover-link">Cliquez ici pour en savoir plus</a>
                </div>
            </div>
        </div>
        <section class="news">
            <h2 class="text-center">L'actualité Kenavo Immobilier</h2>
            <hr class="ms-4 me-4">
            <div class="d-flex justify-content-center flex-wrap">
                <div class="informations-block me-4 d-flex justify-content-between">
                    <div class="block d-flex flex-column justify-content-center align-items-center me-4">
                        <div class="d-flex align-items-center">
                            <img src="{{ asset('img/couple-enlasse.jpg') }}" alt="">
                            <div class="questions d-flex flex-column justify-content-center align-items-center">
                                <h3 class="text-center mt-2">Pourquoi venir chez Kenavo ?</h3>
                                <a href="" class="link mt-4">Voir l'article</a>
                            </div>
                        </div>
                    </div>
                    <div class="block d-flex flex-column justify-content-center align-items-center">
                        <div class="d-flex align-items-center">
                            <img src="{{ asset('img/carton-emmenagement.jpg') }}" alt="">
                            <div class="questions d-flex flex-column justify-content-center align-items-center">
                                <h3 class="text-center mt-2">Quel est le prix final d'un bien ?</h3>
                                <a href="" class="link mt-4">Voir l'article</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
